beautifulsoup4==4.6.0
bs4==0.0.1
cycler==0.10.0
decorator==4.2.1
lxml==4.1.1
matplotlib==2.1.2
networkx==2.1
numpy==1.14.1
opencv-python==3.4.0.12
Pillow==5.0.0
pyparsing==2.2.0
PyQt5==5.10.1
python-dateutil==2.6.1
pytz==2018.3
PyWavelets==0.5.2
scikit-image==0.13.1
scipy==1.0.0
sip==4.19.8
six==1.11.0
